html{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;

}

html,body{
    padding:0;
    margin: 0;
    width: 100%;
    background-repeat: no-repeat;
    position:fixed;
        background: -webkit-linear-gradient(left, #000000, #166087);
    background: -moz-linear-gradient(left, #000000, #166087);
    background: linear-gradient(to right, #000000, #166087);
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #000000;
}

@font-face { font-family: Pala; src: url('fonts/PALA.TTF'); } 
/* TITLE */


#title{
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(255, 255, 255, .5);
  width: 100vw;
  height: 80px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  animation: titlegradient 5s 1;
}

@keyframes titlegradient {
  0%{background-color: rgba(160, 160, 160, 0);}
  100%{background-color: rgba(255, 255, 255, .5);}
}

#toplogo{
  position: absolute;
  right: .5vw;
  object-fit: cover;
  height: 70px;
  animation: rotateicon 20s;
  animation-iteration-count: infinite;
}

@keyframes rotateicon {
  0%{transform: rotateY(0deg);}
  50%{transform: rotateY(360deg);}
  100%{transform: rotateY(0deg);}
}

#title img:hover{
  text-shadow: 0px 0px 100px 10px white;
}

.titletext{
  transition: .8s;
  text-decoration: none;
  letter-spacing: .2vw;
  color: white;
  opacity: 1;
  font-size: 7.5vmin;
  font-family: Pala;
}

#pl{
  animation: mymove 1s  1;
}
#r{
  animation: mymove 1.5s  1;
}
#al{
  animation: mymove 2s  1;
}
#i{
  animation: mymove 2.5s  1;
}
#s1{
  animation: mymove 3s  1;
}
#i2{
  animation: mymove 3.5s  1;
}
#n{
  animation: mymove 4s  1;
}
#g{
  animation: mymove 4.5s  1;
}
#B{
  animation: mymove 5s  1;
}
#o{
  animation: mymove 5.5s 1;;
}
#n2{
  animation: mymove 6s 1;;
}
#e{
  animation: mymove 6.5s 1;;
}
#s2{
  animation: mymove 7s 1;;
}



.titletext:hover{
  text-shadow: 0px 0px 40px white;
}

@keyframes mymove {
  0% {text-shadow: 0px 0px 100px white; opacity: 0;}
  100% { text-shadow: 0px 0px 0px white; opacity: 1;}
}

/* SCROLL */
#scrollholder{
  width: 100vw;
  position: fixed;
  display: flex;
  align-content: center;
  bottom: 10px;
}

#scrollbox{
  position: relative;
  bottom: 10px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.scroll{
  height: 10px;
  width: 20px;
  background-color: white;
  margin: 10px;
  border-radius: 30px;
  transition: 3s;
}

.scroll:hover{
  cursor: pointer;
}

/* NAV */
nav{
  text-decoration: none;
  display: flex;
  background-color: #166087;
  height: 40px;
  justify-content: center;
  align-items: center;
  
}

nav a{
  text-decoration: none;
  transition: .4s;
  font-family: 'Arima Madurai', cursive;
  color: white;
  border-radius: 10px;
  padding:  0px 3px 0px 3px;
  margin: 0px 2px 0px 2px;
  cursor:pointer;
}
nav a:hover{
  transition: .4s;
  background-color: rgba(255, 255, 255, .5);
}

/* PAGES */
.pages{
  opacity: 1;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0px;
}

.pageimages{
  height: 100vh;
  width: 100vw;
}

#home{
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  opacity: 1;


  background-size: cover;            
  background-repeat: no-repeat;
  background-position: center center;   
}

#classes{
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 1;


  background-size: cover;            
  background-repeat: no-repeat;
  background-position: center center; 
  left: 100vw;
}

#events{
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 1;

  background-size: cover;            
  background-repeat: no-repeat;
  background-position: center center; 
  left:200vw
}

#registration{
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 1;

  background-size: cover;            
  background-repeat: no-repeat;
  background-position: center center; 
  left:200vw
}

#founder{
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 1;
  margin-top: 150px;
  background-size: cover;            
  background-repeat: no-repeat;
  background-position: center center; 
  left:200vw
}

/* PAGE CONTENT */
#homebody{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  height: 80vh;
  width: 90vw;
  border-radius: 45px;
  overflow: hidden;
}

#homeflex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#homeflex a{
  height: 100%;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

#midbody{
  box-shadow: 0px 0px 0px 0px;
}

#classesbody{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  height: 80vh;
  width: 90vw;
  border-radius: 45px;
  overflow: hidden;
}

#classesflex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#classesflex a{
  height: 100%;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

#classesbody a{
  height: 100%;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

#eventsbody{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  height: 80vh;
  width: 90vw;
  border-radius: 45px;

  overflow: hidden;
}

#eventsbody a{
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Arima Madurai', cursive;
}

#eventsflex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#eventsflex a{
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  padding: 5px;
  font-family: 'Arima Madurai', cursive;
}

#eventsbody a{
  width: 100%;
  color: white;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

#registrationbody{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  height: 80vh;
  width: 90vw;
  border-radius: 45px;

  overflow: hidden;
}

#registrationbody a{
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Arima Madurai', cursive;
}

#registrationflex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#registrationflex a{
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  padding: 5px;
  font-family: 'Arima Madurai', cursive;
}

#registrationbody a{
  width: 100%;
  color: white;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

#founderbody{
  display:flex;
  align-items: center;
  justify-content: center;
  
  
  width: 90vw;
  border-radius: 45px;

  overflow-x: hidden;
}

#founderbody a{
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: 'Arima Madurai', cursive;
}

#founderflex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#founderflex a{
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  padding: 5px;
  font-family: 'Arima Madurai', cursive;
}

#founderbody a{
  width: 100%;
  color: white;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

/* UNDER PAGES */

#event1{
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  opacity: 1;

  background-size: cover;            
  background-repeat: no-repeat;
  background-position: center center;   
}
#event1body{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  height: 80vh;
  width: 90vw;
  border-radius: 45px;
  overflow-x: hidden;
}

#event1flex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#event1flex a{
  height: 100%;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

#event2{
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  opacity: 1;

  background-size: cover;            
  background-repeat: no-repeat;
  background-position: center center;   
}
#event2body{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  height: 80vh;
  width: 90vw;
  border-radius: 45px;
  overflow: hidden;
}

#event2flex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#event2flex a{
  height: 100%;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

#event3{
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  opacity: 1;

  background-size: cover;            
  background-repeat: no-repeat;
  background-position: center center;   
}
#event3body{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  height: 80vh;
  width: 90vw;
  border-radius: 45px;
  overflow: hidden;
}

#event3flex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#event3flex a{
  height: 100%;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

.flexheader{
  color: white;
  font-size: 2rem;
  padding: 5px;
}

.flexunder{
  color: white;
  font-size: 1rem;
  height: 100%;
  padding: 5px;
}

.flexbutton{
  transition: .3s;
  font-size: 1.1rem;
  height: 100%;
  background-color: white;
  color: #166087;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}

.flexbutton:hover{
  transition: .3s;
  cursor: pointer;
  background-color: #166087;
  color: white;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px 30px 0px 30px;
}

#iconflex{
  position: fixed;
  top: 40px;
  left: 1vw;
}

.icons{
  height:20px;
}

#footer{
  position: fixed;
  display: flex;
  bottom: 0;
  height: 30px;
  width: 200px;
  border-radius: 0px 10px 0px 0px;
  background-color: rgba(255, 255, 255, .5);
  color: white;
  align-items: center;
}

#footer a{
  margin-left: 5px;
  font-family: Pala;
  font-size: 1rem;
}


#form{
 width: 80vw;
}