html{
    overflow-x: hidden;
    height: 100%;
    background: -webkit-linear-gradient(left, #000000, #176187);
    background: -moz-linear-gradient(left, #000000, #176187);
    background: linear-gradient(to right, #000000, #176187);

}

html,body{
    padding:0;
    margin: 0;
    width: 100%;
    background-repeat: no-repeat;
    position:fixed;
}

/* TITLE */


#title{
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(160, 160, 160, .5);
  width: 100vw;
  height: 80px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  animation: titlegradient 5s 1;
}

@keyframes titlegradient {
  0%{background-color: rgba(160, 160, 160, 0);}
  100%{background-color: rgba(160, 160, 160, .5);}
}

#title img{
  position: absolute;
  right: 10px;
  object-fit: cover;
  height: 90px;
  animation: rotateicon 20s;
  animation-iteration-count: infinite;
}

@keyframes rotateicon {
  0%{transform: rotateY(0deg);}
  50%{transform: rotateY(360deg);}
  100%{transform: rotateY(0deg);}
}

#title img:hover{
  text-shadow: 0px 0px 100px 10px white;
}

.titletext{
  transition: .8s;
  text-decoration: none;
  letter-spacing: 1vw;
  color: white;
  opacity: 1;
  font-size: 7.5vmin;
  font-family: 'Great Vibes', cursive;
}

#pl{
  animation: mymove 1s  1;
}
#r{
  animation: mymove 1.5s  1;
}
#al{
  animation: mymove 2s  1;
}
#i{
  animation: mymove 2.5s  1;
}
#s1{
  animation: mymove 3s  1;
}
#i2{
  animation: mymove 3.5s  1;
}
#n{
  animation: mymove 4s  1;
}
#g{
  animation: mymove 4.5s  1;
}
#B{
  animation: mymove 5s  1;
}
#o{
  animation: mymove 5.5s 1;;
}
#n2{
  animation: mymove 6s 1;;
}
#e{
  animation: mymove 6.5s 1;;
}
#s2{
  animation: mymove 7s 1;;
}



.titletext:hover{
  text-shadow: 0px 0px 40px white;
}

@keyframes mymove {
  0% {text-shadow: 0px 0px 100px white; opacity: 0;}
  100% { text-shadow: 0px 0px 0px white; opacity: 1;}
}

/* SCROLL */
#scrollholder{
  width: 100vw;
  position: fixed;
  display: flex;
  align-content: center;
  bottom: 10px;
}

#scrollbox{
  position: relative;
  bottom: 10px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.scroll{
  height: 10px;
  width: 20px;
  background-color: white;
  margin: 10px;
  border-radius: 30px;
  transition: 3s;
}

.scroll:hover{
  cursor: pointer;
}

/* NAV */
nav{
  text-decoration: none;
  display: flex;
  background-color: purple;
  height: 60px;
  justify-content: center;
  align-items: center;
}

nav a{
  text-decoration: none;
  transition: .4s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5mm;
  color: white;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
nav a:hover{
  transition: .4s;
  letter-spacing: 5px;
  background-color: rgba(160, 160, 160, .5);
}

/* ARROWS */
#right{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
  height: 50vh;
  width: 30px;
  border-radius: 10px 0 0 10px;
  background-color: rgba(160, 160, 160, .5);
  transition: .3s;
}

#right:hover{
  box-shadow: 0 0 20px 2px rgba(160, 160, 160, .5);
  font-size: 22px;
  cursor: pointer;
  transition: .3s;
}

#right a{
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  pointer-events: none;
  color: white;
}

#left{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: 'Arima Madurai', cursive;
  font-size: 20px;
  height: 50vh;
  width: 30px;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(160, 160, 160, .5);
  transition: 1s;
}

#left a{
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  color: white;
}

#left:hover{
  box-shadow: 0 0 20px 2px rgba(160, 160, 160, .5);
  font-size: 22px;
  cursor: pointer;
  transition: 1s;
}


/* PAGES */
.pages{
  opacity: 1;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0px;
}

.pageimages{
  height: 100vh;
  width: 100vw;
}

#home{
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  opacity: 0;
  background: #000000;
  background: -webkit-linear-gradient(left, #000000, #176187);
  background: -moz-linear-gradient(left, #000000, #176187);
  background: linear-gradient(to right, #000000, #176187);
  background-size: cover;            
  background-repeat: no-repeat;
  background-position: center center;   
}

#aboutus{
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 0;
  background: #000000;
  background: -webkit-linear-gradient(right, #000000, #176187);
  background: -moz-linear-gradient(right, #000000, #176187);
  background: linear-gradient(to left, #000000, #176187);
  background-size: cover;            
  background-repeat: no-repeat;
  background-position: center center; 
  left: 100vw;
}

#contact{
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 0;
  background: -webkit-linear-gradient(left, #000000, #176187);
  background: -moz-linear-gradient(left, #000000, #176187);
  background: linear-gradient(to right, #000000, #176187);
  background-size: cover;            
  background-repeat: no-repeat;
  background-position: center center; 
  left:200vw
}

/* PAGE CONTENT */
#homebody{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  height: 80vh;
  width: 90vw;
  border-radius: 45px;
  overflow: hidden;
}

#homeflex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#homeflex a{
  height: 100%;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

#midbody{
  box-shadow: 0px 0px 0px 0px;
}

#aboutusbody{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  height: 80vh;
  width: 90vw;
  border-radius: 45px;

  overflow: hidden;
}

#aboutusflex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#aboutusflex a{
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

#aboutusbody a{
  width: 100%;
  color: white;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

#contactbody{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  height: 80vh;
  width: 90vw;
  border-radius: 45px;

  overflow: hidden;
}

#contactbody a{
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 70px;
  font-family: 'Arima Madurai', cursive;
}

#contactflex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#contactflex a{
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 2rem;
  font-family: 'Arima Madurai', cursive;
}

#contactbody a{
  width: 100%;
  height: 50px;
  color: white;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

/* UNDER PAGES */

#event1{
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  opacity: 0;
  background: -webkit-linear-gradient(left, #000000, #176187);
  background: -moz-linear-gradient(left, #000000, #176187);
  background: linear-gradient(to right, #000000, #176187);
  background-size: cover;            
  background-repeat: no-repeat;
  background-position: center center;   
}
#event1body{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  height: 80vh;
  width: 90vw;
  border-radius: 45px;
  overflow: hidden;
}

#event1flex{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#event1flex a{
  height: 100%;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

.flexheader{
  color: white;
  font-size: 2rem;
  padding: 5px;
}

.flexunder{
  color: white;
  font-size: 1rem;
  height: 100%;
  padding: 5px;
}

.flexbutton{
  transition: .3s;
  font-size: 1.1rem;
  height: 100%;
  background-color: white;
  color: #176187;
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
}

.flexbutton:hover{
  transition: .3s;
  cursor: pointer;
  background-color: #176187;
  color: white;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

